body{
  padding: 0;
  margin: 0;
  background-color:rgb(58, 54, 54);
}
header{
  height: fit-content;
  width: 100vw;
  background-color: rgb(76, 71, 71);
}
main{
  height: 95%;
  width: 90%;
  padding-left: 5vw;
  padding-right: 5vw;
}
.header__style{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: rgb(76, 71, 71);
}
.header__style button{
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(66, 63, 63);
}
.sitebar{
  height: 600px;
  width: 200px;
  margin-top: 5px;
  background-color:rgb(76, 71, 71);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.sitebar__link  {
  width: 100%;
  height: 50%;
}
.sitebar__info{
  width: 100%;
  height: 50%;
}
.sitebar__img img{
  height: 30px;
  width: 30px;
}
.sitebar__notification{
  background-color:rgb(53, 50, 50);
  margin-left: auto;
  height: fit-content;
  min-width: 15px;
  border-radius: 5px;
  text-align: center;
}
.sitebar__chapter{
  display: flex;
  align-items: center;
  margin: 3px 5px 0 5px;
  padding: 2px;
  height: 17%;
  cursor: pointer;
}
.sitebar__chapter:hover{
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.sitebar__text{
  padding: 0 0 0 5px;
  color: rgb(255, 255, 255);
}
.sitebar__info-chapter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile__photo img{
  width: 40px;
  height: 40px;
  margin-left: 3px;
  cursor: pointer;
}
.profile__setting img{
  width: 30px;
  height: 30px;
  margin-right: 3px;
  cursor: pointer;
}
.sitebar__profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: rgba(127, 255, 212, 0.138);
}
.info__link{
  text-decoration: none;
  padding: 2px;
  height: 10%;
  margin: 8px 3px 0 5px;
}
.info__link a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.info__link:hover{
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.329), 0 0 1em rgb(200, 156, 46), 0 0 0.2em rgb(91, 107, 51);
}
.profile__text p {
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width : 500px) {
  .sitebar {
    width: 70px;
    height: 200px;
    display:table;
}
  .sitebar__info{
    display: none;
  }
  .sitebar__profile{
    display: none;
  }
  .sitebar__text{
    display: none;
  }
}
@media only screen and (min-width : 1600px){
  .sitebar {
    width: 25vw;
    height: 90vh;
    font-size: xx-large;
    border-radius: 10px;
  }
  .sitebar__img img{
    height: 80px;
    width: 80px;
  }
  .profile__setting img{
    width: 60px;
    height: 60px;
  }
    .profile__photo img{
      width: 90px;
      height: 90px;
  }    
}